In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
DATA_BASE ="shipmanVictim.csv"
df = pd.read_csv(DATA_BASE)
print(df)

    DateofDeath                   Name  Age PlaceofDeath          Decision  \
0    17/03/1975              Eva Lyons   70     Own home  Unlawful killing
1    07/08/1978  Sarah Hannah Marsland   86     Own home  Unlawful killing
2    30/08/1978      Mary Ellen Jordan   73     Own home  Unlawful killing
3    07/12/1978        Harold Bramwell   73     Own home  Unlawful killing
4    20/12/1978         Annie Campbell   88     Own home  Unlawful killing
..          ...                    ...  ...          ...               ...
210  20/03/1998          Ada Warburton   77     Own home  Unlawful killing
211  24/03/1998          Martha Marley   88     Own home  Unlawful killing
212  11/05/1998        Winifred Mellor   73     Own home        Conviction
213  12/06/1998         Joan May Melia   73     Own home        Conviction
214  24/06/1998        Kathleen Grundy   81     Own home        Conviction

     yearOfDeath ageBracket  gender
0           1975      70-74       0
1           1978      85-89       0
2           1978      70-74       0
3           1978      70-74       1
4           1978      85-89       0
..           ...        ...     ...
210         1998      75-79       0
211         1998      85-89       0
212         1998      70-74       0
213         1998      70-74       0
214         1998      80-84       0

[215 rows x 8 columns]

In [21]:
df["DateofDeath"] = pd.to_datetime(df["DateofDeath"], dayfirst=True)

In [22]:
df["gender"] = pd.to_numeric(df["gender"])

In [23]:
df.dtypes

DateofDeath     datetime64[ns]
Name                    object
Age                      int64
PlaceofDeath            object
Decision                object
yearOfDeath              int64
ageBracket              object
gender                   int64
dtype: object

In [26]:
df.corr(numeric_only = True)

                  Age  yearOfDeath    gender
Age          1.000000    -0.075982  0.050190
yearOfDeath -0.075982     1.000000 -0.122847
gender       0.050190    -0.122847  1.000000