In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
DATA_BASE ="shipmanConfirmed.csv"
df = pd.read_csv(DATA_BASE)
print(df)

    DateofDeath                   Name  Age PlaceofDeath          Decision  \
0     17-Mar-75              Eva Lyons   70     Own home  Unlawful killing
1     07-Aug-78  Sarah Hannah Marsland   86     Own home  Unlawful killing
2     30-Aug-78      Mary Ellen Jordan   73     Own home  Unlawful killing
3     07-Dec-78        Harold Bramwell   73     Own home  Unlawful killing
4     20-Dec-78         Annie Campbell   88     Own home  Unlawful killing
..          ...                    ...  ...          ...               ...
210   20-Mar-98          Ada Warburton   77     Own home  Unlawful killing
211   24-Mar-98          Martha Marley   88     Own home  Unlawful killing
212   11-May-98        Winifred Mellor   73     Own home        Conviction
213   12-Jun-98         Joan May Melia   73     Own home        Conviction
214   24-Jun-98        Kathleen Grundy   81     Own home        Conviction

     yearOfDeath  gender  fractionalDeathYear ageBracket gender2
0           1975       0              1974.71      70-74   Women
1           1978       0              1978.10      85-89   Women
2           1978       0              1978.16      70-74   Women
3           1978       1              1978.44      70-74     Men
4           1978       0              1978.47      85-89   Women
..           ...     ...                  ...        ...     ...
210         1998       0              1997.72      75-79   Women
211         1998       0              1997.73      85-89   Women
212         1998       0              1997.86      70-74   Women
213         1998       0              1997.95      70-74   Women
214         1998       0              1997.98      80-84   Women

[215 rows x 10 columns]

In [5]:
df.corr()

ValueError: could not convert string to float: '17-Mar-75'